# Environment
.env
.env.local
.env.*.local

# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test / coverage
coverage.out
coverage.html
*.coverprofile
test-results/

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary
tmp/
temp/

# Docker
docker-compose.override.yml

# delve
__debug*

# bruno
tools/bruno/collections/flood-response-api/environments/local.bru